<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.finance.management.mapper.TransactionMapper">
    <insert id="insertTransaction" parameterType="com.finance.management.model.Transaction">
        INSERT INTO transactions (amount, description, category_id, date)
        VALUES (#{amount}, #{description}, #{categoryId}, CURDATE());
    </insert>

    <select id="getTransactionsByCategory" parameterType="long" resultType="com.finance.management.model.Transaction">
        SELECT * FROM transactions WHERE category_id = #{categoryId};
    </select>
</mapper>